@keyframes slider {
	0% { left: 0%; }
	10% { left: 0%; }
	20% { left: -100%; }
	30% { left: -200%; }
	40% { left: -300%; }
	50% { left: -400%; }
	60% { left: -300%; }
	70% { left: -200%; }
	80% { left: -100%; }
	95% { left: -100%; }
	100% { left: -0%; }
}

.carousel, .slider {
    position: relative;
	text-align: center;
    margin: 0 auto;
    padding: 0;
}

.slides .slide {
    width: 20%;
    float: left;
    position: relative;
}

.slide2{
    position: absolute;
    top: 0;
    left: 0;
}

.shop-slide{
    position: absolute;
    top: 1rem;
    left: 0;
}

.slides .items{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
	margin: 0;
    position: relative;
}

.slider .items{ 
    animation: 30s slider infinite; 
	animation-delay: 2s;
}

.slider .items:hover {
	animation-play-state: paused;
}

.overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

.slide{ /*размер слайдера*/
    width: 100%;
}


.slide img{ /*размер изображений слайдера*/
    width: 100%;
    max-width: 100%;
}

.activator {
    display: none;
}

.indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.indicator {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    background: #037cf5;
	border: 2px solid #ff0 !important;
    opacity: 0.75;
    margin: 0 2.5px 0 2.5px;
}

.indicator:hover {
    opacity: 1;
}

.controls {
    display: none;
}

.control {
    height: 30px;
    width: 30px;
    margin-top: -15px;
    top: 50%;
    position: absolute;
    display: block;
    cursor: pointer;
    border-width: 8px 8px 0 0;
    border-style: solid;
    
    border-color: #037cf5;
    opacity: 0.35;
    outline: 0;
    z-index: 3;
}
.control:hover {
    opacity: 1;
}

.control-backward {
    left: 10px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
}
.control-forward {
    right: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

input.activator:nth-of-type(1):checked~.slides .items {
    
    margin-left: 0;
}

.activator:nth-of-type(1):checked~.slides .indicator:nth-of-type(1) {
    background-color: red;
}

.activator:nth-of-type(1):checked~.controls:nth-of-type(1) {
    display: block;
    opacity: 1;
}

input.activator:nth-of-type(2):checked~.slides .items {
    
    margin-left: -100%;
}
.activator:nth-of-type(2):checked~.slides .indicator:nth-of-type(2) {
    background-color: red;
}
.activator:nth-of-type(2):checked ~ .controls:nth-of-type(2) {
    display: block;
    opacity: 1;
}


.activator:nth-of-type(3):checked~.slides .items {
    
    margin-left: -200%;
}

.activator:nth-of-type(3):checked ~ .controls:nth-of-type(3) {
    display: block;
    opacity: 1;
}
.activator:nth-of-type(3):checked~.slides .indicator:nth-of-type(3) {
    background-color: red;
}
.activator:nth-of-type(4):checked~.slides .items {
    
    margin-left: -300%;
}

.activator:nth-of-type(4):checked~.controls:nth-of-type(4) {
    display: block;
    opacity: 1;
}

.activator:nth-of-type(4):checked~.slides .indicator:nth-of-type(4) {
    
    background-color: red;
}

.activator:nth-of-type(5):checked~.slides .items {
    
    margin-left: -400%;
}

.activator:nth-of-type(5):checked ~ .controls:nth-of-type(5) {
    display: block;
    opacity: 1;
}
.activator:nth-of-type(5):checked~.slides .indicator:nth-of-type(5) {
    background-color: red;
}


.slides .items{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

.controls label .indicator{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}


@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }