*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #111111;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 900;
    line-height: 1.2;
}

img {
    display: block;
}

.img-fluid {
    max-width: 100%;
}

a {
    color: #dcb14a;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #a20;
    text-decoration: underline;
}

.text-white {
    color: #fff;
}

.text-muted {
    color: #6c757d;
}

.text-gray {
    color: #aaa;
}

.text-dark {
    color: #111111;
}

.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.text-center {
    text-align: center !important;
}

.btn {
    color: #212529;
    background-color: transparent;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.btn:hover {
    color: #f50057;
    text-decoration: none;
}

.fas{
    color: #f50057;
    transition: .4s;
}

.btn:focus,
.btn.focus {
    outline: 0;
}

.btn-dark {
    color: #fff;
    background-color: #111111;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #dcb14a;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-dark:focus,
.btn-dark.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-link {
    font-weight: 400;
    color: #999;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 0.5rem;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}


/* list style */

.list-unstyled {
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}


/* background */

.bg-dark {
    background-color: #343a40 !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: #1d2124 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #dae0e5 !important;
}


/* border */

.border {
    border: 1px solid #dee2e6 !important;
}

.border-top {
    border-top: 1px solid #1d1d1d !important;
}

.border-right {
    border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
    border-left: 1px solid #dee2e6 !important;
}

.border-0 {
    border: 0 !important;
}

.border-top-0 {
    border-top: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.border-primary {
    border-color: #007bff !important;
}

.border-secondary {
    border-color: #6c757d !important;
}

.border-success {
    border-color: #28a745 !important;
}

.border-info {
    border-color: #17a2b8 !important;
}

.border-warning {
    border-color: #ffc107 !important;
}

.border-danger {
    border-color: #dc3545 !important;
}

.border-light {
    border-color: #f8f9fa !important;
}

.border-dark {
    border-color: #343a40 !important;
}

.border-white {
    border-color: #fff !important;
}

.hero {
    min-height: 25em;
    background-color: transparent;
    background-image: url("../images/bg1.jpg");
    background: transtarent;
    overflow: hidden;
    background-size: cover;
}

.hero p {
    padding-top: 6em;
    padding-bottom: 2em;
}

.hero h1 {
    padding-bottom: 3em;
}

.overlay-trend {
    color: #fff;
    text-align: center;
    padding: 6em 0;
    background-color: #eee;
    background-image: url("../images/bg2.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.reset-anchor {
    color: inherit;
}

.reset-anchor:hover,
.reset-anchor:focus {
    text-decoration: none;
}

/* float */

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}

.cf {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.border {
    border: 1px solid #dee2e6 !important;
}

@media (min-width: 576px) {
    .border-sm {
        border: 1px solid #dee2e6 !important;
    }
}

@media (min-width: 768px) {
    .border-md {
        border: 1px solid #dee2e6 !important;
    }
}

@media (min-width: 992px) {
    .border-lg {
        border: 1px solid #dee2e6 !important;
    }
}

@media (min-width: 1200px) {
    .border-xl {
        border: 1px solid #dee2e6 !important;
    }
}

 /* footer */
.reset-anchor {
    color: inherit;
}

.reset-anchor:hover,
.reset-anchor:focus {
    text-decoration: none;
}


/* footer lonk*/

.footer-link {
    font-size: 0.85rem;
    color: #fff;
}

.footer-link:hover,
.footer-link:focus {
    padding-left: 0.2rem;
    color: #fff;
    text-decoration: none;
    
}

.footer-socials a i{
    display: inline-block;
    text-align: center;
    line-height: 2em;
    color: #fff;
    width: 2em;
    height: 2em;
    margin-left: 5px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.font-size--small {
    font-size: var(--font-size--small);
}
  
.font-size--default {
    font-size: var(--font-size--default);
}
  
.font-size--large {
    font-size: var(--font-size--large);
}
  